- Keras- It is an wrapper on the top of the tensorflow
- Tensorflow- It is an open source library for the deep learning provided by the google

In [1]:
import keras

In [2]:
import pandas as pd
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

- Our Aim is to predict wheter the customers will exit or not in future

In [4]:
X = df.iloc[:,3:13]
y = df.iloc[:,13]

In [5]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [7]:
# Geography and gender categorical features converting into numbers

geograpy = pd.get_dummies(X['Geography'],drop_first=True)
gender = pd.get_dummies(X['Gender'],drop_first=True)

In [8]:
geograpy.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [9]:
gender.head()

   Male
0     0
1     0
2     0
3     0
4     0

In [10]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [11]:
X = pd.concat([X,geograpy,gender],axis=1)

In [12]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [13]:
X= X.drop(['Geography','Gender'],axis=1)

In [14]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

# Feature Scaling
- Multiplication will happen faster when will scale the values and multiply with weigths 
- Also Global minima can reach to quickly

In [16]:
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [17]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [18]:
X_test

array([[-0.56129438, -0.39401698,  0.9869706 , ...,  1.62776996,
        -0.57427105, -1.11339196],
       [-1.33847768,  0.07611425, -1.08432132, ..., -0.61433742,
        -0.57427105, -1.11339196],
       [ 0.58347561,  0.26416674,  0.9869706 , ..., -0.61433742,
         1.74133801, -1.11339196],
       ...,
       [-0.76084144, -0.29999074, -1.42953664, ..., -0.61433742,
         1.74133801,  0.8981563 ],
       [-0.0046631 , -0.48804323, -0.39389068, ...,  1.62776996,
        -0.57427105,  0.8981563 ],
       [-0.81335383, -0.86414821,  0.9869706 , ...,  1.62776996,
        -0.57427105,  0.8981563 ]])

# Create the ANN model

In [19]:
import keras
from keras.models import Sequential
from keras.layers import Dense
#from keras.layers import LeakyReLU, PReLU, ELU
from keras.layers import Dropout

## Sequential : Responsible for creating the ANN,CNN,RNN models
## Dense: To create the Hidden layers
## LeakyRelu, Prelu, ELU are the activations function
## Dropout is a regularization parameters it will be used when ANN is deep

In [20]:
classifier =Sequential()  # Empty Neural Network

In [21]:
classifier.add(Dense(units = 10,kernel_initializer='he_normal',activation='relu',input_dim=11))
classifier.add(Dropout(0.3)) # after appling in this NN accuracy drop to 3-4 %, so use it only when u have Deep NN
# here creating the first HL
# output dim is 6 which means 6 Hidden neurons in first layer
# initialization parameter how your weights needs to be initialized
# whenever using relu AF he uniform and he normal will work much better
# relu prevents Vanishing gradient problem as compare to sigmoid
# All Hidden layers should have relu or Leakyrelu
# 
# input_dim is 11

In [22]:
# second Hidden Layer
classifier.add(Dense(units = 20,kernel_initializer='he_normal',activation='relu'))
classifier.add(Dropout(0.4))

In [23]:
# Third Hidden Layer
classifier.add(Dense(units = 15,kernel_initializer='he_normal',activation='relu'))
classifier.add(Dropout(0.2))

In [24]:
# Final Layer 
classifier.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))

In [25]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                120
_________________________________________________________________
dropout (Dropout)            (None, 10)                0
_________________________________________________________________
dense_1 (Dense)              (None, 20)                220
_________________________________________________________________
dropout_1 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_2 (Dense)              (None, 15)                315
_________________________________________________________________
dropout_2 (Dropout)          (None, 15)                0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 16
=================================================================
Total params: 671
Trainable params: 671
Non-trainable params: 0
_________________________________________________________________

In [26]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [27]:
model_history = classifier.fit(X_train,y_train,validation_split=0.33, batch_size = 10, epochs =100)

Epoch 1/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6332 - accuracy: 0.7350 - val_loss: 0.4957 - val_accuracy: 0.7944
Epoch 2/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7852 - val_loss: 0.4788 - val_accuracy: 0.7955
Epoch 3/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5008 - accuracy: 0.7974 - val_loss: 0.4753 - val_accuracy: 0.7967
Epoch 4/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4875 - accuracy: 0.7962 - val_loss: 0.4615 - val_accuracy: 0.7967
Epoch 5/100
536/536 [==============================] - 1s 963us/step - loss: 0.4752 - accuracy: 0.7968 - val_loss: 0.4497 - val_accuracy: 0.7970
Epoch 6/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4641 - accuracy: 0.8001 - val_loss: 0.4431 - val_accuracy: 0.7974
Epoch 7/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4590 - accuracy: 0.8007 - val_loss: 0.4384 - val_accuracy: 0.8001
Epoch 8/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4509 - accuracy: 0.8061 - val_loss: 0.4325 - val_accuracy: 0.8005
Epoch 9/100
536/536 [==============================] - 0s 832us/step - loss: 0.4442 - accuracy: 0.8071 - val_loss: 0.4297 - val_accuracy: 0.8058
Epoch 10/100
536/536 [==============================] - 0s 837us/step - loss: 0.4376 - accuracy: 0.8104 - val_loss: 0.4244 - val_accuracy: 0.8076
Epoch 11/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4386 - accuracy: 0.8093 - val_loss: 0.4236 - val_accuracy: 0.8084
Epoch 12/100
536/536 [==============================] - 0s 917us/step - loss: 0.4291 - accuracy: 0.8173 - val_loss: 0.4149 - val_accuracy: 0.8141
Epoch 13/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4297 - accuracy: 0.8190 - val_loss: 0.4133 - val_accuracy: 0.8171
Epoch 14/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4200 - accuracy: 0.8212 - val_loss: 0.4082 - val_accuracy: 0.8167
Epoch 15/100
536/536 [==============================] - 0s 927us/step - loss: 0.4139 - accuracy: 0.8231 - val_loss: 0.4019 - val_accuracy: 0.8289
Epoch 16/100
536/536 [==============================] - 0s 913us/step - loss: 0.4060 - accuracy: 0.8276 - val_loss: 0.3955 - val_accuracy: 0.8307
Epoch 17/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4061 - accuracy: 0.8270 - val_loss: 0.3938 - val_accuracy: 0.8345
Epoch 18/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3960 - accuracy: 0.8334 - val_loss: 0.3890 - val_accuracy: 0.8281
Epoch 19/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3999 - accuracy: 0.8349 - val_loss: 0.3816 - val_accuracy: 0.8417
Epoch 20/100
536/536 [==============================] - 0s 831us/step - loss: 0.3905 - accuracy: 0.8362 - val_loss: 0.3794 - val_accuracy: 0.8372
Epoch 21/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3960 - accuracy: 0.8339 - val_loss: 0.3792 - val_accuracy: 0.8349
Epoch 22/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3908 - accuracy: 0.8382 - val_loss: 0.3806 - val_accuracy: 0.8410
Epoch 23/100
536/536 [==============================] - 0s 846us/step - loss: 0.3884 - accuracy: 0.8362 - val_loss: 0.3739 - val_accuracy: 0.8436
Epoch 24/100
536/536 [==============================] - 1s 970us/step - loss: 0.3911 - accuracy: 0.8349 - val_loss: 0.3785 - val_accuracy: 0.8379
Epoch 25/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3849 - accuracy: 0.8384 - val_loss: 0.3754 - val_accuracy: 0.8368
Epoch 26/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3828 - accuracy: 0.8399 - val_loss: 0.3753 - val_accuracy: 0.8349
Epoch 27/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3825 - accuracy: 0.8421 - val_loss: 0.3739 - val_accuracy: 0.8432
Epoch 28/100
536/536 [==============================] - 0s 872us/step - loss: 0.3867 - accuracy: 0.8399 - val_loss: 0.3726 - val_accuracy: 0.8444
Epoch 29/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3770 - accuracy: 0.8431 - val_loss: 0.3747 - val_accuracy: 0.8326
Epoch 30/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3787 - accuracy: 0.8408 - val_loss: 0.3730 - val_accuracy: 0.8463
Epoch 31/100
536/536 [==============================] - 1s 991us/step - loss: 0.3812 - accuracy: 0.8384 - val_loss: 0.3697 - val_accuracy: 0.8478
Epoch 32/100
536/536 [==============================] - 1s 955us/step - loss: 0.3806 - accuracy: 0.8412 - val_loss: 0.3726 - val_accuracy: 0.8395
Epoch 33/100
536/536 [==============================] - 1s 1000us/step - loss: 0.3770 - accuracy: 0.8410 - val_loss: 0.3715 - val_accuracy: 0.8444
Epoch 34/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3764 - accuracy: 0.8397 - val_loss: 0.3716 - val_accuracy: 0.8413
Epoch 35/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3788 - accuracy: 0.8356 - val_loss: 0.3673 - val_accuracy: 0.8466
Epoch 36/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3800 - accuracy: 0.8393 - val_loss: 0.3694 - val_accuracy: 0.8448
Epoch 37/100
536/536 [==============================] - 1s 922us/step - loss: 0.3814 - accuracy: 0.8421 - val_loss: 0.3717 - val_accuracy: 0.8432
Epoch 38/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3765 - accuracy: 0.8427 - val_loss: 0.3655 - val_accuracy: 0.8459
Epoch 39/100
536/536 [==============================] - 1s 993us/step - loss: 0.3734 - accuracy: 0.8446 - val_loss: 0.3675 - val_accuracy: 0.8466
Epoch 40/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3722 - accuracy: 0.8464 - val_loss: 0.3686 - val_accuracy: 0.8466
Epoch 41/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3713 - accuracy: 0.8434 - val_loss: 0.3659 - val_accuracy: 0.8451
Epoch 42/100
536/536 [==============================] - 1s 977us/step - loss: 0.3774 - accuracy: 0.8399 - val_loss: 0.3658 - val_accuracy: 0.8470
Epoch 43/100
536/536 [==============================] - 1s 992us/step - loss: 0.3757 - accuracy: 0.8418 - val_loss: 0.3708 - val_accuracy: 0.8459
Epoch 44/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3754 - accuracy: 0.8446 - val_loss: 0.3687 - val_accuracy: 0.8436
Epoch 45/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3676 - accuracy: 0.8466 - val_loss: 0.3661 - val_accuracy: 0.8470
Epoch 46/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3768 - accuracy: 0.8408 - val_loss: 0.3685 - val_accuracy: 0.8444
Epoch 47/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3759 - accuracy: 0.8464 - val_loss: 0.3705 - val_accuracy: 0.8448
Epoch 48/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3776 - accuracy: 0.8425 - val_loss: 0.3714 - val_accuracy: 0.8455
Epoch 49/100
536/536 [==============================] - 1s 991us/step - loss: 0.3692 - accuracy: 0.8421 - val_loss: 0.3678 - val_accuracy: 0.8440
Epoch 50/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3710 - accuracy: 0.8451 - val_loss: 0.3673 - val_accuracy: 0.8448
Epoch 51/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3769 - accuracy: 0.8414 - val_loss: 0.3675 - val_accuracy: 0.8448
Epoch 52/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3747 - accuracy: 0.8464 - val_loss: 0.3661 - val_accuracy: 0.8455
Epoch 53/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3697 - accuracy: 0.8451 - val_loss: 0.3649 - val_accuracy: 0.8451
Epoch 54/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3741 - accuracy: 0.8431 - val_loss: 0.3668 - val_accuracy: 0.8436
Epoch 55/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3748 - accuracy: 0.8434 - val_loss: 0.3668 - val_accuracy: 0.8459
Epoch 56/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3695 - accuracy: 0.8449 - val_loss: 0.3676 - val_accuracy: 0.8440
Epoch 57/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3740 - accuracy: 0.8468 - val_loss: 0.3686 - val_accuracy: 0.8459

Epoch 58/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3683 - accuracy: 0.8431 - val_loss: 0.3718 - val_accuracy: 0.8364
Epoch 59/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3673 - accuracy: 0.8470 - val_loss: 0.3669 - val_accuracy: 0.8429
Epoch 60/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3647 - accuracy: 0.8459 - val_loss: 0.3661 - val_accuracy: 0.8463
Epoch 61/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3645 - accuracy: 0.8509 - val_loss: 0.3662 - val_accuracy: 0.8417
Epoch 62/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3768 - accuracy: 0.8451 - val_loss: 0.3648 - val_accuracy: 0.8466
Epoch 63/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3703 - accuracy: 0.8421 - val_loss: 0.3660 - val_accuracy: 0.8436
Epoch 64/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3644 - accuracy: 0.8461 - val_loss: 0.3668 - val_accuracy: 0.8417
Epoch 65/100
536/536 [==============================] - 1s 990us/step - loss: 0.3678 - accuracy: 0.8438 - val_loss: 0.3633 - val_accuracy: 0.8463
Epoch 66/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3736 - accuracy: 0.8461 - val_loss: 0.3651 - val_accuracy: 0.8448
Epoch 67/100
536/536 [==============================] - 1s 982us/step - loss: 0.3703 - accuracy: 0.8518 - val_loss: 0.3660 - val_accuracy: 0.8440
Epoch 68/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3674 - accuracy: 0.8489 - val_loss: 0.3661 - val_accuracy: 0.8448
Epoch 69/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3737 - accuracy: 0.8446 - val_loss: 0.3695 - val_accuracy: 0.8421
Epoch 70/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3666 - accuracy: 0.8475 - val_loss: 0.3666 - val_accuracy: 0.8470
Epoch 71/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3667 - accuracy: 0.8472 - val_loss: 0.3640 - val_accuracy: 0.8459
Epoch 72/100
536/536 [==============================] - 0s 927us/step - loss: 0.3800 - accuracy: 0.8459 - val_loss: 0.3661 - val_accuracy: 0.8410
Epoch 73/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3656 - accuracy: 0.8468 - val_loss: 0.3668 - val_accuracy: 0.8406
Epoch 74/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3671 - accuracy: 0.8429 - val_loss: 0.3664 - val_accuracy: 0.8432
Epoch 75/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3641 - accuracy: 0.8498 - val_loss: 0.3664 - val_accuracy: 0.8410
Epoch 76/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3704 - accuracy: 0.8455 - val_loss: 0.3661 - val_accuracy: 0.8448
Epoch 77/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3668 - accuracy: 0.8440 - val_loss: 0.3653 - val_accuracy: 0.8455
Epoch 78/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3654 - accuracy: 0.8498 - val_loss: 0.3697 - val_accuracy: 0.8466
Epoch 79/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3681 - accuracy: 0.8537 - val_loss: 0.3631 - val_accuracy: 0.8493
Epoch 80/100
536/536 [==============================] - 1s 980us/step - loss: 0.3572 - accuracy: 0.8517 - val_loss: 0.3630 - val_accuracy: 0.8501
Epoch 81/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3667 - accuracy: 0.8490 - val_loss: 0.3639 - val_accuracy: 0.8470
Epoch 82/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3675 - accuracy: 0.8453 - val_loss: 0.3609 - val_accuracy: 0.8463
Epoch 83/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3675 - accuracy: 0.8436 - val_loss: 0.3649 - val_accuracy: 0.8455
Epoch 84/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3715 - accuracy: 0.8434 - val_loss: 0.3635 - val_accuracy: 0.8466
Epoch 85/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3715 - accuracy: 0.8479 - val_loss: 0.3642 - val_accuracy: 0.8466
Epoch 86/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3704 - accuracy: 0.8451 - val_loss: 0.3630 - val_accuracy: 0.8493
Epoch 87/100
536/536 [==============================] - 1s 981us/step - loss: 0.3667 - accuracy: 0.8468 - val_loss: 0.3627 - val_accuracy: 0.8470
Epoch 88/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3683 - accuracy: 0.8459 - val_loss: 0.3629 - val_accuracy: 0.8482
Epoch 89/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3728 - accuracy: 0.8461 - val_loss: 0.3619 - val_accuracy: 0.8455
Epoch 90/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3669 - accuracy: 0.8431 - val_loss: 0.3620 - val_accuracy: 0.8485
Epoch 91/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3648 - accuracy: 0.8487 - val_loss: 0.3647 - val_accuracy: 0.8470
Epoch 92/100
536/536 [==============================] - 1s 945us/step - loss: 0.3704 - accuracy: 0.8431 - val_loss: 0.3665 - val_accuracy: 0.8470
Epoch 93/100
536/536 [==============================] - 0s 887us/step - loss: 0.3667 - accuracy: 0.8503 - val_loss: 0.3619 - val_accuracy: 0.8474
Epoch 94/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3702 - accuracy: 0.8455 - val_loss: 0.3621 - val_accuracy: 0.8448
Epoch 95/100
536/536 [==============================] - 0s 822us/step - loss: 0.3678 - accuracy: 0.8502 - val_loss: 0.3644 - val_accuracy: 0.8444
Epoch 96/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3683 - accuracy: 0.8466 - val_loss: 0.3617 - val_accuracy: 0.8470
Epoch 97/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3692 - accuracy: 0.8489 - val_loss: 0.3625 - val_accuracy: 0.8493
Epoch 98/100
536/536 [==============================] - 1s 949us/step - loss: 0.3665 - accuracy: 0.8489 - val_loss: 0.3658 - val_accuracy: 0.8474
Epoch 99/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3600 - accuracy: 0.8464 - val_loss: 0.3638 - val_accuracy: 0.8485
Epoch 100/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3628 - accuracy: 0.8518 - val_loss: 0.3615 - val_accuracy: 0.8516

In [28]:
# Prediction on test Data
y_pred = classifier.predict(X_test)
y_pred = (y_pred>0.5)

In [29]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [30]:
# Confusion metrics

from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test,y_pred)

In [31]:
cm

array([[1576,   19],
       [ 252,  153]], dtype=int64)

In [32]:
# Accuracy
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)

In [33]:
score

0.8645